<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <!--Google Font links-->
    <!--Body fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
  <!--Heading fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
  <!----------->
  <!--Bootstrap Icon links-->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!------------------------>
  <!--CSS Style to use google fonts-->
  <style>
    body {
      font-family: 'Rubik', sans-serif;
      background-color: #7DB9FF;
    }
    h5 {
      font-family: 'Merriweather',serif;
      color:black;
    }
  </style>
  <!--------------------------------->
    <title>Lanka Bangla home</title>
</head>
<body>
    <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#"><h5 class="text-light">LankaBangla</h5></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Stock information</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="index">Home</a>
          </li>
      </ul>
    </div>
</nav>
    <!--History of LankaBangla-->
    <div class="container">
        <div class="row">
          <div class="col-">
          <div class="card p-1 m-1" style="background-color: #FFC37D;">
            <div class="card-body">
              <h5 class="card-title">Our Storied <span>History</span></h5>
                <p> LankaBangla Finance Limited was established in 1997 as a non-banking financial institution by Vanik Incorporation Limited of Sri Lanka and some Bangladeshi investors.We had originally named the company Vanik Bangladesh Limited but was renamed to LankaBangla Finance Limited in 2003.In 2005, LankaBangla Finance Limited launched LankaBangla Finance MasterCard replacing the old Vanik Card which was launched in 1998.
                  In 2010, the company had gone public with LankaBangla Securities Limited.Our respected Mohammed Nasir Uddin Chowdhury was appointed managing director of LankaBangla Finance Limited on 4 December 2011.
                </p>
                <p>
                  In 2022, LankaBangla Finance Limited signed memorandum of understanding with Rangs Limited.We had signed an agreement with Nagad in June.We have been the top stock broker for 16 years at Dhaka Stock Exchange and 15 years at the Chittagong Stock Exchange consecutively.We had 4.35 billion BDT in classified loans in 2022. Government Pension Fund of Norway invested US$1.76 million in LankaBangla Finance.
                </p>
            </div>
          </div>
            <div class="card p-1 m-1" style="background-color: #FFC37D;">
              <div class="card-body ">
                <h5 class="card-title">Mission, Vision & Values</h5>
                <h6>Vision:</h6>
                <p>
                    TO BE THE MOST PREFERRED FINANCIAL service provider in creating, nurturing and maximizing value to the stakeholders, thereby, GROWING TOGETHER.
                </p>
                <h6>Mission:</h6>
                    <p>
                        <ul>
                            <li>Be a growth partner for our customers, ensuring financing and superior experience
                            </li>
                            <li>
                                Maintain a culture of meritocracy in the DNA of the company
                            </li>
                            <li>
                                Be sustainable and ensure quality returns to our valued shareholders
                            </li>
                            <li>
                                Uphold efforts to develop our community
                            </li>
                        </ul>
                    </p>
                <h6>Core Values:</h6>
                <p>
                    We have strong values that are well embedded in our culture. Our values create the following goals to help us deliver our strategy:
                    <ul>
                        <li>
                            Cherish a sense of ownership
                        </li>
                        <li>
                            Be customer centric
                        </li>
                        <li>
                            Grow as a team
                        </li>
                        <li>
                            Act with integrity & professionalism
                        </li>
                        <li>
                            Deal with respect
                        </li>
                    </ul>
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>