<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!--Google Font links-->
      <!--Body fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <!--Heading fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,700&display=swap" rel="stylesheet">
    <!----------->
    <!--Bootstrap Icon links-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!------------------------>
    <!--CSS Style to use google fonts-->
    <style>
      body {
        font-family: 'Rubik', sans-serif;
      }
      h5 {
        font-family: 'Merriweather',serif;
      }
    </style>
    <!--------------------------------->
    <title>Dashboard</title>
</head>
<body style="background-color: #25AAB1">
    <!--all copied from bootstrap navbar documentation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="#"><h5>LankaBangla</h5></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="accountInfo">Account Information <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="boform">BO Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Stock information</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="clientForm">Client Information Form</a>
            </li>
          </ul>
        </div>
    </nav>
    <!--Greeting-->
    <div class="card alert alert-success shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Greetings <%= locals.name %> </h5>
      </div>
    </div>
    <!--Card for middle of the page-->
    

    <!---Card for bottom of the page-->
    <div class="row">
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">EMI calculator</h5>
              <p class="card-text">Calculate your loan EMI</p>
              <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title"> Credit Rating</h5>
              <p class="card-text">Check out our Credit Rating</p>
                <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Media Corner</h5>
              <p class="card-text">Explore Press and release videos</p>
                <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">News and Notice <i class="bi bi-broadcast-pin" style="font-size:1.5rem; padding:1rem;"></i> </h5>
              <p class="card-text">Explore our latest news & notices. </p>
                <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">Articles<i class="bi bi-newspaper" style="font-size:1.5rem; padding: 1rem;"></i></h5>
              <p class="card-text">Explore our latest articles</p>
                <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card alert alert-success shadow-sm">
          <div class="card-body">
            <h5 class="card-title">FAQ<i class="bi bi-patch-question-fill" style="font-size:1.5rem; padding:1rem;"></i></h5>
              <p class="card-text">We'll help you work it out</p>
                <a class="btn btn-primary" href="#">Learn more</a>
          </div>
        </div>
      </div>
    </div>
    <!-- script tags should be added before the body tag ends-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
      
</body>
</html>